project_name           = "fraud-detector"
prod_project_id        = "your-prod-project-id"
staging_project_id     = "your-staging-project-id"
cicd_runner_project_id = "your-cicd-project-id"
region                 = "us-central1"
repository_owner       = "your-github-username"
repository_name        = "predictive_mlops_demo"
create_repository      = false
